<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title><%= content_for :title %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="<%= content_for :meta_description %>" />
    <meta name="keywords"    content="<%= content_for :meta_keywords %>" />
    <%= stylesheet_link_tag "/blueprint-css/screen.css", :media => "screen, projection" %>
    <%= stylesheet_link_tag "/blueprint-css/print.css",  :media => "print" %>
    <!--[if lt IE 8]>
    <%= stylesheet_link_tag "/blueprint-css/ie.css", :media => "screen, projection" %>
    <![endif]-->
    <%= stylesheet_link_tag :k3, 'application' %>
    <%= stylesheet_link_tag '/themes/daleri-sweet/styles.css' %>
    <%= javascript_include_tag :defaults, :k3 %>
    <%= javascript_include_tag 'http://html5.kaltura.org/js' unless edit_mode? %>
    <%= csrf_meta_tag %>
  </head>

  <body>
    <div id="container">
      <%= hook :top_of_page %>
      <% if user_signed_in? -%>
        <% k3cms_ribbon_add_item do %>
          <li><%= link_to 'Sign out', destroy_user_session_path %></li>
          <li><%= link_to 'Profile', edit_user_registration_path %></li>
          <li class="logged_in_as">
            Logged in as: <%= k3cms_user.email %>
          </li>
        <% end -%>
      <% else %>
        <div id="above_header">
          <ul>
            <li><%= link_to 'Sign in', new_user_session_path %></li>
          </ul>
        </div>
      <% end -%>
      <%= k3cms_ribbon %>

      <div id="body">
        <div class="page_fixed_width">

          <div id="top">
            <div id="top_left">
              <%= link_to image_tag('logo.png'), '/' %>
            </div>
            <div id="top_right">
              <h1><%= link_to content_for(:title), '/' %></h1>
              <% if content_for?(:subtitle) %>
                <p><strong><%= content_for :subtitle %></strong></p>
              <% end %>
            </div>

          </div><!-- #top-->

          <div id="content">
            <% if flash[:notice] %>
              <p class="notice"><%= notice %></p>
            <% end %>
            <% if flash[:alert] %>
              <p class="alert"><%= flash[:alert] %></p>
            <% end %>

            <%= yield %>

          </div><!-- #content-->

          <div id="sidebar">

            <br class="clear" />
          </div><!-- #sidebar-->

        </div><!-- .page_fixed_width-->
        <br class="clear">
      </div><!-- #body_inner_bg-->

      <div id="footer">
        <div class="page_fixed_width">
        <hr/>
          <div class="split_left">
          </div>

          <div class="split_right">
            <p><span class="credits">© <%= Date.today.year %> Authors</p>
          </div>
        </div><!-- .page_fixed_width-->
      </div><!-- #footer-->

    </div><!-- #container-->
  </body>
</html>
